<main class="mb-4">
  <div class="container d-flex flex-wrap mb-5">

    <div class="col-12 col-md-3 col-lg-4 order-md-2">
      <h1 class="mb-3"><%= @pin.title %></h1>
      <h3 class="h6 mb-3"><%= @pin.tag %></h3>
      <ul class="list-unstyled small text-secondary">

        <li class="d-flex flex-wrap mr-2 mr-lg-0 mb-2">
          <div class="d-flex flex-wrap mr-2 mb-1 separator">
            Created by 
            <span class="d-flex ml-1 ml-md-0 ml-lg-1 text-dark">
              <%= image_tag('avatar', atl: 'Default avatar', class: 'img-small rounded-circle mr-1') %> 
              <%= @pin.user.email %>
            </span>
          </div>
          <div>
            On <time datetime=<%= @pin.created_at.strftime("%FT%T") %> class="text-dark"><%= @pin.created_at.strftime("%d %b '%y") %></time>
          </div>
        </li>

        <li class="mr-2 mr-lg-0 mb-1">
          Pinned by
          <span class="text-dark">
            <% case @pin.users.length
               when 0 %> nobody
            <% when 1 %> 1 persone
            <% else %> <%= @pin.users.length %> people
            <% end %>
          </span>
        </li>

      </ul>

      <% if @user_logged_in %>
        <%= render(partial: 'edit_add_pin_buttons', locals: { user: @user, pin: @pin }) %>
      <% end %>

    </div>

    <div class="col-12 col-md-8 col-lg-7 order-md-1">
      <%= render(partial: 'pin_image', locals: { image_url: @pin.image_url }) %>
    </div>

  </div>

  <div class="container">

    <h2 class="mb-4">Comments <span class="h6 text-secondary">
      <% if @pin.comments.length > 1 %>
        <%= @pin.comments.length %> comments
      <% else %>
        <%= @pin.comments.length %> comment
      <% end %>
    </span></h2>

    <% if @user_logged_in %>
      <%= render(partial: 'form_alert', locals: { item: @comment }) %>
      <%= render(partial: 'comment_form', locals: { pin: @pin, comment: @comment }) %>
    <% end %>

    <% if @pin.comments.any? %>
      <ul class="list-unstyled mw-lg-75 mb-4">
        <% @pin.comments_invert.each do |comment| %>
          <%= render(partial: 'comment', locals: { comment: comment }) %>
        <% end %>
      </ul>
    <% end %>

  </div>
</main>