<!DOCTYPE html>
<html>
  <head>
    <title>PinYourImageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="mb-4">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <%= link_to('Pin Your Images', root_path, class: 'navbar-brand') %>

        <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to('About', about_index_path, class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to('Log in / Register', new_user_path, class: 'nav-link') %>
            </li>
          </ul>
          <%= form_tag(pins_path, method: :get, class: 'form-inline my-2 my-lg-0', role: 'search') do %>
            <%= search_field_tag('q', nil, class: 'form-control mr-sm-2', placeholder: 'Search') %>
            <%= button_tag('Search', class: 'btn btn-dark my-2 my-sm-0 mr-sm-2', name: nil) %>
            <%= link_to('See All', pins_path, class: 'btn btn-dark my-2 my-sm-0') %>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="navbar navbar-expand-lg navbar-dark bg-dark py-5">
        <%= link_to('Pin Your Images', root_path, class: 'navbar-brand') %>

        <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to('Back to Top', '#top', class: 'nav-link') %>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    
  </body>
</html>
