<!DOCTYPE html>
<html>
  <head>
    <title>PinYourImageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="mb-4">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <%= link_to('Pin Your Images', root_path, class: 'navbar-brand') %>

        <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <%= render(partial: 'nav_link', locals: { text: 'About', url: about_index_path }) %>
            <% if @user_logged_in %>
              <%= render(partial: 'nav_link', locals: { text: 'My PinBoard', url: user_pinboard_pins_path(@user) }) %>
              <%= render(partial: 'nav_link', locals: { text: 'Create Pin', url: new_pin_path }) %>
            <% else %>
              <%= render(partial: 'nav_link', locals: { text: 'Log in / Register', url: new_user_path }) %>
            <% end %>
          </ul>
          <%= render(partial: 'nav_search_bar') %>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="navbar navbar-expand-lg navbar-dark bg-dark py-5">
        <%= link_to('Pin Your Images', root_path, class: 'navbar-brand') %>

        <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <%= render(partial: 'nav_link', locals: { text: 'Back to Top', url: '#top' }) %>
          </ul>
        </div>
      </div>
    </footer>
    
  </body>
</html>
